<div class="row" style="margin: 2em; padding 2em; border: 1px solid black; margin: 1em;">
    <div style="padding: 1em;">
    From: 
    <% if message.from_id != nil %>
        <%= link_to User.find(message.from_id).name, root_url + 'users/' + message.from_id.to_s %>
    <% else %>
        System
    <% end %>
    <h4> <%= message.title %> </h4>
    <div>
        <%= message.content.html_safe %>
    </div>
    </div>
</div>