<div class="article_title">
<img class="col-md-2" src="<%= @article.thumbnail %>">
<h2 class='col-md-8'><%= @article.title %></h2>
</div>

<p class="col-xs-12 col-sm-12 col-md-10 article_content">
    <%= @article.content %>
</p>
