<div class="col-xs-0 col-sm-0 col-md-2">
</div>
<div class="col-xs-12 col-sm-12 col-md-8 video_show">
    <h2><%= @video.title %></h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.video_id %>" frameborder="0" allowfullscreen></iframe>
</div>