@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.navbar > ul {
    background-color: black;
    list-style-type: none;
    font-size: 1.5em;
    text-align: center;
}

#banner {
    background-color: black;
}

li a {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    
}

a > li {
    text-align: center;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    padding: 7px;
    display: inline-block;
}

li a:hover {
    text-decoration: none;
}

#content-box {
    display: block;
    height: 25em;
}

.article-name {
    font-size: 2em;
    color: black;
}

.article-name:hover {
    text-decoration: none;
}

.article {
    padding: 1em;
    border-bottom: 1px solid black;
    display: block;
}

.article-thumb {
    height: 9em;
    widows: 16em;
}

.article-teaser p {
    color: gray;
    text-align: justify;
}

.question a {

}

.question a:hover {
    text-decoration: none;
}

.question {
    padding: 0.5em;
    display: block;
    font-size: 1em;
    border-left: 1px solid black;
}

.question p {
    text-align: right;
}

.question-text {
    padding: 1.5em;
}

.comment-content {
    font-size: 1.1em;
    padding: 0.4em;
}

.comment {
    border: 1px solid black;
    padding: 0.4em;
    width: 100%;
}

.video_show {
    padding-top: 2em;
    padding-bottom: 4em;
    text-align: center;
}

.article_title {
    padding: 1em;
}

.article_content {
    font-size: 1.8em;
    padding: 1em;
    text-align: justify;
}


.footer-body {
    border-top: 1px solid darkslategray;
    color: #707070;
    background: lightgray;
    font-size: 12px;
    line-height: 1.66667;
    margin: 20px 0px;
    padding: 0px 10px 21px;
    min-height: 44px;
    text-align: center;
}

.main-box {
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;    
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.sidebar {
    border-right: 1px solid black;
}

h2 {
    padding-bottom: 1.3em;
    font-size: 2.5em;
    font-family: 'Libre Franklin';
}

p {
    font-family: 'Libre Franklin';
}

.navbar-button {
    

    font-size: 1.1em;

    background: black;
    transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
}

.navbar-link {
    display: block;
        padding-top: 1.1em;
    padding-bottom: 1.1em;
}

.navbar-button > a:hover {
    color:black;
}

.navigation-bar {
    margin-top: auto;
    text-align: center;
    font-family: 'Patua One';
}

.question-partial {
    color: black;
    font-family: 'Libre Franklin';
}

.btn {
    font-family: 'Patua One';
    text-align: left;
    font-size: 1.5em;
}

.btn-primary {
    text-align: center;
}

.highlighted{
    background: gray;
    text-decoration: underline;
}

label {
    font-family: 'Patua One';
    font-size: 1.5em;
}


.request {
    padding: 1.5em;
    border: 1px solid black;
}

.article_index {
    font-size: 1.5em;
}

.question-box {
        transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
}

.plan-box {
    font-size: 1.6em;
    font-family: 'Libre Franklin';
    padding: 1.3em;
    border: 1px solid black;

        transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
}

.plan-link {
    color: black;
    text-decoration: none;
}

.plan-link:hover {
    text-decoration: none;
}

#content {
    padding: 1.5em;
    text-align: justify;
}