@import "bootstrap-sprockets";
@import "bootstrap";

.navbar ul {
    background-color: dodgerblue;
    list-style-type: none;
    
}

#banner {
    background-color: dodgerblue;
}

li a {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    
}

li {
    text-align: center;
    font-size: 1.4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    padding: 7px;
    display: inline-block;
}

li a:hover {
    text-decoration: none;
}

#content-box {
    display: block;
    height: 25em;
}