<a class="plan-link" href="/plans/<%= plan.id %>">
<div class="plan-box">
    <%= plan.title %>
</div>
</a>

<script>
  $(document).ready(new function(){
    $('.plan-box').hover(
      
      function() {
      $(this).css('background', 'black');
      $(this).children().css('color', 'white');
      $(this).parent().css('color', 'white');
    }, 
    
      function(){
        $(this).css('background', 'white');
        $(this).children().css('color', 'black');
        $(this).parent().css('color', 'black');
    });
  });
</script>