<div class="col-sm-12 col-md-6">
<h2> 
Leave the theory to us! You just have to do the work!
Pay for a personal plan, created from our experts to suit your needs! </h2>
<%= button_to 'REQUEST PLAN', root_url + 'make_payment', :class => "btn btn-primary", :method => 'get' %></li>
</div>

<div class="col-sm-12 col-md-6">
<h2>Your Plans:</h2>

<% if @plans.count == 0 %>
    <h4> You do not have any plans </h4>
<% end %>
<% @plans.each do |plan| %>
    <%= render plan %>
<% end %>

<%= will_paginate @plans %>
</div>
